@font-face {
  font-family: 'Argentum Novus';
  src: url('./font/argentum-novus/ArgentumNovus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Argentum Novus';
  src: url('./font/argentum-novus/ArgentumNovus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root {
  --slate50: #F8FAFC;
  --slate100: #E2E8F0;
  --slate200: #E2E8F0;
  --slate300: #CBD5E1;
  --slate400: #94A3B8;
  --slate600: #475569;
  --contentPadding: 1rem;
  --subItemPadding: .5rem;
  --subItemGap: 1rem;
  font-family: 'Argentum Novus';
  font-weight: normal;
}
html {
  height: 100%;
}
body *{
  border: .1px solid var(--slate600); 
}
ul {
  /* css reset */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*css reset*/
button {
  background: inherit;
}
body {
  line-height: 150%;
  height: 100vh;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
}
.container{
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 5vh 5vw 5vh 5vw;
  display: flex;
}
.header {
  grid-column: 1/4;
  grid-row: 1/1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--contentPadding);
  gap: var(--subItemGap);
}
.footer {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--contentPadding);
  gap: var(--subItemGap);
}
.leftContainer {
  flex: 0;
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  padding: var(--subItemPadding);
}
#save {
  color:var(--slate50);
  background: var(--slate600);
  border-radius: 10%;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
/* Tasks divs */ 
.taskLine {
  display: flex;
}
.taskColorStats {
  width: 3px;
  background: lightgreen;
}
.taskList {
  display: flex;  
  padding: .2rem;
  height: 30px;
  align-items: center;
  background: var(--slate100);
  gap: .5rem;
}
.taskComplete {
  background: pink;
  margin: .3rem;
  width: 13px;
  height: 13px;
}
.taskTitle {
  flex:1;
}
.taskDetails {
  border: 2px solid var(--slate600);
}
.taskDate {
  font-size: .5rem;
  color: var(--slate300);
}
.taskEdit {
  height: 12px;
  width: 12px;
  background: var(--slate600);
}
.taskDelete {
  height: 12px;
  width: 12px;
  background: var(--slate600);
}


/*transitions*/
#save:hover {
  background: var(--slate400);
}