@font-face {
  font-family: 'Argentum Novus';
  src: url('./font/argentum-novus/ArgentumNovus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Argentum Novus';
  src: url('./font/argentum-novus/ArgentumNovus-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root {
  --slate50: #F8FAFC;
  --slate400: #94A3B8;
  --slate600: #475569;
  --contentPadding: 1rem;
  --subItemPadding: .5rem;
  --subItemGap: 1rem;
  font-family: 'Argentum Novus';
  font-weight: normal;
}
html {
  height: 100%;
}
body *{
  border: .4px solid red; 
}
ul {
  /* css reset */
  list-style-type: none;
  padding: 0;
}
body {
  line-height: 150%;
  height: 100vh;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
}
.container{
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 5vh 5vw 5vh 5vw;
  display: flex;
}
.header {
  grid-column: 1/4;
  grid-row: 1/1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--contentPadding);
  gap: var(--subItemGap);
}
.footer {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--contentPadding);
  gap: var(--subItemGap);
}
.leftContainer {
  flex: 0;
  min-width: 80px;
}
.rightContainer {
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  padding: var(--subItemPadding);
}
#save {
  color:var(--slate50);
  background: var(--slate600);
  border-radius: 10%;
}


/*transitions*/

#save:hover {
  background: var(--slate400);
}